@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}

.fondo{
  padding: 15px;
  background: #35424a;
  color: #ffffff;
  margin-top: 10px;
  margin-bottom: 10px;
}


header {
  background-color: #333;
  color: #fff;
  padding: 20px 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.container__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  font-size: 24px;
}

.title__1 {
  color: #ffa500;
}

.navbar__content {
  display: flex;
  list-style-type: none;
}

.navbar__content li {
  margin-left: 20px;
}

.navbar__content a {
  color: #fff;
  text-decoration: none;
  transition: color 0.3s ease;
}

.navbar__content a.activo,
.navbar__content a:hover {
  color: #ffa500;
}

#showcase {
  background-image: url("../images/krists-luhaers-AtPWnYNDJnM-unsplash.jpg");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding: 100px 0;
  text-align: center;
}

#showcase h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

#showcase .title__2 {
  color: #ffa500;
}

#showcase p {
  font-size: 18px;
  margin-bottom: 40px;
}

#suscribite {
  background-color: #333;
  padding: 60px 0;
}

.boxes__suscribite {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
  align-items: center;
}

.boxes__suscribite h1 {
  font-size: 32px;
  color: #f5f5f5;
  /* margin-bottom: 20px; */
}

.title__suscribite {
  color: #ffa500;
}

.boxes__suscribite form {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  /* margin-top: 20px; */
}

.boxes__suscribite input {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  margin-right: 10px;
}

.button__1 {
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button__1:hover {
  background-color: #e69500;
}

.cards__section {
  padding: 40px 0;
  background-color: #f5f5f5;
}

.cards__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  gap: 30px;
  text-align: center;
  align-items: center;
}
.card {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  /* height: 800px; */
}
.card__content {
  display: flex;
  flex-direction: column;
}

.card__title{
  font-weight: 900;
  color: #e8491d;
}

.card__text{
  font-weight: 600;
}
.card a {
  background-color: #ffa500;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-decoration: none;
}

.card a:hover {
  background-color: #e69500;
}



/*Acerca*/

.main__acerca{
  display: flex;
}
.title__acerca,
.title__sidebar,
.title__servicios,
.title__sidebar--servicios,
.title__form{
  text-align: center; 
  margin-bottom: 20px; 
}

.text__acerca,
.text__sidebar,
.text__sidebar--servicios,
.text__servicios,
.text__form {
  line-height: 1.5; 
  margin-bottom: 15px; 
}


.main__col {
  flex: 2; 
  width: 60%;
  padding: 20px;
  border: 1px solid #ccc
}
.sidebar {
  flex: 1;
  font-size: 16px;
  width: 30%; 
  margin-top: 10px;
  /* padding: 20px; */
  border: 1px solid #ccc;
}



/*pie de pagina*/
#mainfooter {
  padding: 20px;
  margin-top: 20px;
  color: #ffffff;
  background-color: #e8491d;
  text-align: center;
}


/* Estilos responsivos */
@media (max-width: 768px) {
  .card {
    width: 100%;
    margin: 20px 0;
  }

  .card__image {
    height: 150px;
  }
}

@media (min-width: 769px) {
  .card {
    width: 300px;
  }
}
